# Junk files
*.bak
*.swp
*~
.DS_Store
._*

# Merge files
*.orig
*.rej

# Build artifacts
.clang_complete
.build/
*.elf
*.log
*.lss
*.lst
*.map
*.o
*.stackdump
*.sym

# QMK-specific
api_data/v1
quantum/version.h
*.bin
*.eep
*.hex
*.qmk
*.uf2

# DD config at wrong location
/keyboards/**/keymaps/*/info.json

# Old-style QMK Makefiles
/keyboards/**/Makefile

# kbfirmware....
/keyboards/**/kb.h
/keyboards/**/kb.c

# Eclipse/PyCharm/Other IDE Settings
*.iml
.browse.VC.db*
.cproject
.idea
.idea/
.project
.settings/

# ?
.dep
.history/
build/
cmake-build-debug
CMakeLists.txt
*.pdf

# Let these ones be user specific, since we have so many different configurations
*.code-workspace
.stfolder
.tags
.vscode/c_cpp_properties.json
.vscode/ipch/
.vscode/last.sql
.vscode/launch.json
.vscode/tasks.json
.vscode/temp.sql
tags

# Ignore image/font files
*.bmp
*.wbmp
*.gif
*.jpg
*.jpeg
*.png
*.apng
*.mng
*.svg
*.webp
*.webm
*.avi
*.mp4
*.mpeg
*.ttf
*.otf

# Things Travis sees
/.vs
id_rsa_*
secrets.tar

# Python things
__pycache__
.python-version

# Prerequisites for updating ChibiOS
/util/fmpp*

# Allow to exist but don't include it in the repo
user_song_list.h
keyboards/musashi60/.editorconfig
keyboards/musashi60/config.h
keyboards/musashi60/info.json
keyboards/musashi60/musashi60.c
keyboards/musashi60/musashi60.h
keyboards/musashi60/readme.md
keyboards/musashi60/rules.mk
keyboards/musashi60/transport.c
keyboards/musashi60/keymaps/default/config.h
keyboards/musashi60/keymaps/default/keymap.c
keyboards/musashi60/keymaps/default/readme.md
keyboards/r2k2/config.h
keyboards/r2k2/re42.c
keyboards/r2k2/re42.h
keyboards/r2k2/readme.md
keyboards/r2k2/rules.mk
keyboards/r2k2/keymaps/default/keymap.c
keyboards/r2k2/keymaps/default/readme.md
keyboards/r2k2/keymaps/leftjp/config.h
keyboards/r2k2/keymaps/leftjp/keymap.c
keyboards/r2k2/keymaps/leftjp/readme.md
keyboards/r2k2/keymaps/via/keymap.c
keyboards/r2k2/keymaps/via/readme.md
keyboards/r2k2/keymaps/via/rules.mk
keyboards/r2k2/lib/glcdfont.c
keyboards/r2k2/r2k2.c
keyboards/r2k2/r2k2.h

# clangd
compile_commands.json
.clangd/
.cache/

# VIA(L) json files that don't belong in QMK repo
via*.json
qmk_firmware.sln
